<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
	aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="exampleModalLongTitle">Your trip was added to the cart!</h5>
			</div>
			<div class="modal-body">
				Would you like to proceed to checkout?
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" id="btn-keep-shopping" data-dismiss="modal">Keep shopping</button>
				<a href="{% url 'checkout_confirm' %}"><button type="button" class="btn btn-primary">Checkout</button></a>
			</div>
		</div>
	</div>
</div>