{% extends 'base.html' %}
{% load static %}
{% load humanize %}
{% load crispy_forms_tags %}

{% block header %}
<!-- Header -->
<header class="accounts-head">
	<div class="container d-flex align-items-center">
        <div class="mx-auto text-center">
            <h1 class="text-light mx-auto my-0"><i class="fas fa-space-shuttle"></i></h1>
        </div>
    </div>
</header>
{% endblock %}

{% block content %}

<!-- Breadcrumb -->
<nav aria-label="breadcrumb">
  <ol class="breadcrumb bg-light mb-0">
    <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
    <li class="breadcrumb-item">Account</li>
    <li class="breadcrumb-item"><a href="#">My Bookings</a></li>
  </ol>
</nav>

<!-- Booking Section -->
<section class="pt-5 pb-5">
	<div class="container">
		<div class="row mx-auto align-items-center">
            
            <!-- Upcoming trips (if any) -->
            {% if upcoming_bookings %}
                <div class="mx-auto text-center">
                    <h2 class="text-center">Upcoming trip(s)</h2>
                </div>
            {% endif %}

            <div class="col-12 mb-3"> 
                <div class="col-12 col-lg-8 mx-auto">
                    <!-- Booking details -->
                    {% for booking in upcoming_bookings %}
                        {% include 'components/booking_recap.html' %}
                    {% endfor %}  
                </div>
            </div>

            <!-- Past trips (if any) -->
            {% if past_bookings %} 
                <div class="mx-auto text-center mt-5">
				    <h2 class="text-center">Past trip(s)</h2>
			    </div>
            {% endif %}

            <div class="col-12 mb-3"> 
                <div class="col-12 col-lg-8 mx-auto">
                    <!-- Booking details -->
                    {% for booking in past_bookings %}
                        {% include 'components/booking_recap.html' %}
                    {% endfor %}
                </div>
            </div>

            {% if not past_bookings and not upcoming_bookings %}
                <div class="col-12 col-md-10 col-lg-8 mx-auto text-center mt-5 mb-5">
                    <h4>You have no past nor upcoming trips at the moment!</h4>
                    <a href="{% url 'trips_all' %}" class="btn btn-primary mt-5">Browse Trips</a>
                </div>
            {% endif %}

		</div>
	</div>
</section>

{% endblock %}