{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block cdn %}
<!-- CDN for datepicker -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<link href="https://cdn.jsdelivr.net/npm/gijgo@1.9.6/css/gijgo.min.css" rel="stylesheet" type="text/css" />
{% endblock %}

{% block header %}
<!-- Header -->
<header class="accounts-head">
	<div class="container d-flex align-items-center"></div>
</header>
{% endblock %}

{% block content %}

<!-- Profile Section -->
<section class="pt-5 pb-5">
	<div class="container">
		<div class="row mx-auto align-items-center">

			<div class="col-12 mx-auto text-center">
				<h2 class="text-center">{{ user.first_name }} {{ user.last_name }}</h2>
			</div>

            <div class="col-12 col-lg-8 mx-auto">
            
                <!-- Passenger details form -->
                <form method="POST">
                    {% csrf_token %}

                    <div class="form-row">
                        <div class="form-group col-12">
                            {{ form.title.errors }}
                            <label for="{{ form.title.id_for_label }}">Title</label>
                            <div class="row text-left ml-2">
                                {% for radio in form.title %}
                                    <div class="form-check col-2"> 
                                        <input type="radio" class="form-check-input" name="form.title.id_for_label" id="radio.id_for_label" value="{{radio.choice_label}}">
                                        <label for="{{ radio.id_for_label }}" class="form-check-label"> {{ radio.choice_label }}</label>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>   
                    </div> 

                    <div class="form-row">
                        <div class="form-group col-12 col-md-5">
                            {{ form.birth_month.errors }}
                            {{ form.birth_month|as_crispy_field }}
                        </div>
                        <div class="form-group col-4 col-md-3">
                            {{ form.birth_day.errors }}
                            {{ form.birth_day|as_crispy_field  }}
                        </div>
                        <div class="form-group col-8 col-md-4">
                            {{ form.birth_year.errors }}
                            {{ form.birth_year|as_crispy_field }}
                        </div>
                    </div>

                    <div class="form-row">
                        <div class="form-group col-12 col-md-7">
                            {{ form.citizenship.errors }}
                            {{ form.citizenship|as_crispy_field  }}
                        </div>
                        <div class="form-group col-12 col-md-5">
                            {{ form.passport_id.errors }}
                            {{ form.passport_id|as_crispy_field }}
                        </div>
                    </div>

                    <div class="form-group col-12 text-right">
                        <button class="btn btn-primary" type="submit">Edit</button>
                    </div>

                </form>

            </div>

		</div>
	</div>
</section>

{% endblock %}