{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block header %}
<!-- Header -->
<header class="accounts-head">
	<div class="container d-flex align-items-center">
        <div class="mx-auto text-center">
            <h1 class="text-light mx-auto my-0"><i class="fas fa-address-card"></i></h1>
        </div>
    </div>
</header>
{% endblock %}

{% block content %}

<!-- Breadcrumb -->
<nav aria-label="breadcrumb">
  <ol class="breadcrumb bg-light mb-0">
    <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
    <li class="breadcrumb-item">Account</li>
    <li class="breadcrumb-item"><a href="#">Profile</a></li>
  </ol>
</nav>

<!-- Profile Section -->
<section class="pt-5 pb-5">
	<div class="container">
		<div class="row mx-auto align-items-center">

			<div class="mx-auto text-center">
				<h2 class="text-center">{{ user.first_name }} {{ user.last_name }}</h2>
			</div>

			<div class="col-12"> 
                <div class="col-12 col-lg-8 mx-auto">

                    <!-- Passenger details -->
                    <div class="card mt-5">
                        <div class="card-body">

                            <div class="d-flex flex-row-reverse bd-highlight">
                                {% if passenger %}
                                    <a href="{% url 'edit_passenger_details' %}">Edit</a>
                                {% else %}
                                    <a href="{% url 'create_passenger_details' %}">Create</a>
                                {% endif %}
                            </div>

                            <div class="row">

                                <div class="col-12">
                                    <h4 class="font-weight-bold">Passenger</h4>
                                </div>
                                
                                <div class="col-6 text-left">Full Name</div>
                                <div class="col-6 text-right">
                                    {% if passenger %}
                                        {{ passenger.title }}.
                                    {% endif %}
                                    {{ user.first_name }} {{ user.last_name }}
                                </div>

                                {% if passenger %}

                                    <div class="col-6 text-left">Date of birth</div>
                                    <div class="col-6 text-right">
                                        {{ passenger.birth_date }}
                                    </div>

                                    <div class="col-6 text-left">Passport</div>
                                    <div class="col-6 text-right">
                                        {{ passenger.passport_id }}
                                    </div>

                                    <div class="col-6 text-left">Country of issue</div>
                                    <div class="col-6 text-right">
                                        {{ passenger.citizenship.name }}
                                    </div>
                                            
                                {% else %}
                                    <div class="card-body text-center"> You have not provided your passenger details yet!</div>
                                {% endif %}
                            
                            </div>
                            
                        </div>
                    </div>

                    <!-- Contact details -->
                    <div class="card mt-5">
                        <div class="card-body">

                            <div class="d-flex flex-row-reverse bd-highlight">
                                {% if contact %}
                                    <a href="{% url 'edit_contact_details' %}">Edit</a>
                                {% else %}
                                    <a href="{% url 'create_contact_details' %}">Create</a>
                                {% endif %}
                            </div>

                            <div class="row">

                                <div class="col-12">
                                    <h4 class="font-weight-bold">Contact</h4>
                                </div>

                                <div class="col-4 text-left">Email</div>
                                <div class="col-8 text-right"> {{ user.email }} </div>

                                {% if contact %}

                                    <div class="col-4 text-left mb-3">Phone</div>
                                    <div class="col-8 text-right mb-3"> {{ contact.phone_number }}</div>

                                    <div class="col-4 text-left">Address</div>
                                    <div class="col-8 text-right">
                                        {{ contact.street_address1 }}<br>
                                        {% if contact.street_address2 %}
                                            {{ contact.street_address2 }} <br>
                                        {% endif %}
                                        {{ contact.postcode }} {{ contact.town_or_city}} <br>
                                        {% if contact.state %}
                                            {{ contact.state }} <br>
                                        {% endif %}
                                        {{ contact.country.name }}
                                    </div>
                                
                                {% else %}
                                    <div class="card-body text-center"> You have not provided your contact details yet!</div>
                                {% endif %}
                            
                            </div> 

                        </div>
                    </div>

                    <!-- Login -->
                    <div class="card mt-5">
                        <div class="card-body">
                            <div class="d-flex flex-row-reverse bd-highlight"><a href="{% url 'edit_password' %}">Edit</a></div>
                            <h4 class="font-weight-bold">Login</h4>
                            <div class="row">
                                <div class="col-4 text-left">
                                    <p>Password</p>
                                </div>
                            </div>
                        </div>
                    </div>

                </div> 
			</div>

		</div>
	</div>
</section>

{% endblock %}