 /*
Navbar
 */

.dropdown-menu.show {
    border: none;
}

.dropdown-item {
    color: rgba(0,0,0,.5);
}

.dropdown-item:focus, .dropdown-item:hover {
    background: transparent;
    color: rgba(0,0,0,.7);
}

@media (min-width: 992px) {
    
    .dropdown-shrink.dropdown-menu.show {
        background: transparent;
    }

    .dropdown-shrink .dropdown-item {
        color: rgba(255,255,255,.5);
    }

    .dropdown-shrink .dropdown-item:focus, .dropdown-shrink .dropdown-item:hover {
        color: rgba(255,255,255,.75);
    }


}

 /*
 Footer
 */

input#inputEmail {
    box-shadow: 0 0.1875rem 0.1875rem 0 rgba(0, 0, 0, 0.3) !important;
    font-family: 'Varela Round';
    font-size: 60%;
    text-transform: uppercase;
    letter-spacing: 0.15rem;
    border: 0;
}

.btn-subscribe {
    padding: 0.75rem 1.25rem;
}

.footer-icon {
    font-size: large;
}

 /*
Home
 */

 .testimony-section hr, .stat-section hr {
    border-color: #64a19d;
    border-width: 0.25rem;
    width: 5rem;
}

.book-section {
    padding: 10rem 0;
    background: linear-gradient(to bottom, rgba(22, 22, 22, 0.1) 0%, rgba(22, 22, 22, 0.5) 75%, #161616 100%), url("../img/galaxy.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
}

.stat-icon {
    font-size: 3rem;
    color: white;
}

 /*
About
 */

.about-head {
    padding: 10rem 0;
    background: linear-gradient(to bottom, rgba(22, 22, 22, 0.3) 0%, rgba(22, 22, 22, 0.7) 75%, #161616 100%), url("../img/milky-way.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
}

.about-head h1 {
    font-family: 'Varela Round';
    letter-spacing: 0.6rem;
}

 /*
Contact
 */

 #map {
    max-width: 100%;
    height: 800px;
    background-color: grey;
 }

 @media (min-width: 992px) {
   #map {
    height: 100%;
  }
}

 /*
All Trips
 */

 .trips-head {
    padding: 10rem 0;
    background: linear-gradient(to bottom, rgba(22, 22, 22, 0.3) 0%, rgba(22, 22, 22, 0.7) 75%, #161616 100%), url("../img/iss-nasa-3.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
}

.trips-head h1 {
    font-family: 'Varela Round';
    letter-spacing: 0.6rem;
}

.btn-book {
    position: absolute;
    top: 80%;
    left: 85%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}

.btn-book-odd {
    position: absolute;
    top: 80%;
    left: 15%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}

/*Custom class for datepicker */

.datepicker td, .datepicker th {
    width: 2.5rem;
    height: 2.5rem;
    font-size: 0.85rem;
}

.datepicker {
    margin-bottom: 3rem;
}

 /*
FAQ
 */

#faq .btn-link {
    color: #161616;
    box-shadow: 0 0!important;
}

#faq .btn-link:hover,
#faq .btn-link:focus {
    color: #64a19d;
    text-decoration: none;
}

#faq h2 {
    font-size: 1rem;
}

/*
Accounts
 */

  .accounts-head {
    padding: 10rem 0;
    background: linear-gradient(to bottom, rgba(22, 22, 22, 0.3) 0%, rgba(22, 22, 22, 0.7) 75%, #161616 100%), url("../img/stars-sky.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
}