{% extends 'base.html' %}
{% load static %}

{% block header %}
<!-- Header -->
<header class="about-head">
	<div class="container d-flex align-items-center">
		<div class="mx-auto text-center">
			<h1 class="text-light mx-auto my-0">About our company</h1>
		</div>
	</div>
</header>
{% endblock %}

{% block content %}

<!-- About Section -->
<section class="projects-section pb-5 bg-light">
	<div class="container">

		<!-- Presentation -->
		<div class="row justify-content-center no-gutters mb-5 mb-lg-0">
			<div class="col-lg-6">
				<img class="img-fluid" src="{% static 'img/space-takeoff.jpg' %}" alt="Img Presentation"> 
            </div>
			<div class="col-lg-6">
				<div class="bg-black text-center h-100 project">
					<div class="d-flex h-100">
						<div class="project-text w-100 my-auto text-center text-lg-left">
							<h4 class="text-white">Presentation</h4>
							<p class="mb-0 text-white-50">
								Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nobis laudantium quos autem nostrum nihil, blanditiis, dolorem commodi eaque voluptatibus quam debitis quae assumenda! Corrupti mollitia qui autem doloribus totam delectus!
                                Lorem ipsum dolor sit, amet consectetur adipisicing elit.
							</p>
							<hr class="d-none d-lg-block mb-0 ml-0">
						</div>
					</div>
				</div>
			</div>
		</div>

		<!-- History -->
		<div class="row justify-content-center no-gutters mb-5 mb-lg-0">
			<div class="col-lg-6">
				<img class="img-fluid" src="{% static 'img/moon-3.png' %}" alt="Img History">
            </div>
			<div class="col-lg-6 order-lg-first">
				<div class="bg-black text-center h-100 project">
					<div class="d-flex h-100">
						<div class="project-text w-100 my-auto text-center text-lg-right">
							<h4 class="text-white">History</h4>
							<p class="mb-0 text-white-50">
								Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius accusamus vel hic pariatur, quo provident, molestiae aspernatur commodi delectus molestias quos quae cum eveniet quam asperiores vitae voluptates quasi id?
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est soluta amet quod maiores, architecto qui enim consequatur excepturi facere reprehenderit consectetur ab quidem labore nostrum voluptas praesentium porro quaerat ratione!
							</p>
                            <hr class="d-none d-lg-block mb-0 mr-0">
						</div>
					</div>
				</div>
			</div>
		</div>

        <!-- Services -->
		<div class="row justify-content-center no-gutters mb-5 mb-lg-0">
			<div class="col-lg-6">
				<img class="img-fluid" src="{% static 'img/spacex-team.jpg' %}" alt="Services Img">
            </div>
			<div class="col-lg-6">
				<div class="bg-black text-center h-100 project">
					<div class="d-flex h-100">
						<div class="project-text w-100 my-auto text-center text-lg-left">
							<h4 class="text-white">Services</h4>
							<p class="mb-0 text-white-50">
								Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius temporibus minima quae officia voluptas possimus quaerat, omnis voluptate veritatis, quos quisquam exercitationem aspernatur soluta labore? Sint perferendis eos magni explicabo.
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Est tenetur nemo voluptas, consequatur omnis ut vel ipsa velit? Provident, eos dolorum! Possimus cupiditate eum vero animi porro obcaecati atque ipsum!
							</p>
                            <hr class="d-none d-lg-block mb-0 ml-0">
						</div>
					</div>
				</div>
			</div>
		</div>

        <!-- Button to trips -->
        <div class="text-center mt-5">
            <a href="#" class="btn btn-primary">Browse Trips</a>
        </div>
        
	</div>
</section>

{% endblock %}