{% extends 'base.html' %}
{% load static %}

{% block header %}
<!-- Header -->
<header class="about-head">
	<div class="container d-flex align-items-center">
		<div class="mx-auto text-center">
			<h1 class="text-light mx-auto my-0">About Us</h1>
		</div>
	</div>
</header>
{% endblock %}

{% block content %}

<!-- About Section -->
<section class="projects-section pb-5 bg-light">
	<div class="container">

		<!-- Presentation -->
		<div class="row justify-content-center no-gutters mb-5 mb-lg-0">
			<div class="col-lg-6">
				<img class="img-fluid" src="{% static 'img/space-takeoff.jpg' %}" alt="Img Presentation">
            </div>
				<div class="col-lg-6">
					<div class="bg-black text-center h-100 project">
						<div class="d-flex h-100">
							<div class="project-text w-100 my-auto text-center text-lg-left">
								<h4 class="text-white">Presentation</h4>
								<p class="mb-0 text-white-50">
									SpaceX is the first travel agency to offer public space trips. In close
									collaboration with all major aerospace agencies, we are able to coordinate various
									types of trips to space for both individuals and scientists. We also offer
									gravity-free flights to introduce passengers to microgravity without leaving the
									earth.
								</p>
								<hr class="d-none d-lg-block mb-0 ml-0">
							</div>
						</div>
					</div>
				</div>
			</div>

			<!-- History -->
			<div class="row justify-content-center no-gutters mb-5 mb-lg-0">
				<div class="col-lg-6">
					<img class="img-fluid" src="{% static 'img/satellite.jpg' %}" alt="Img History">
            </div>
					<div class="col-lg-6 order-lg-first">
						<div class="bg-black text-center h-100 project">
							<div class="d-flex h-100">
								<div class="project-text w-100 my-auto text-center text-lg-right">
									<h4 class="text-white">History</h4>
									<p class="mb-0 text-white-50">
										SpaceX Inc. is a joint-venture between the NASA, the ESA and Spacecraft
										Technologies Corp. It was launched in 1998 to promote microgravity as a
										scientific research tool. It was first initiated by a group of astronauts from
										both the ESA and the NASA to provide gravity-free flights both in the US and
										Europe. In 2017 they took a strategic move and decided to launch a joint-venture
										with the company Spacecraft Technologies Corp. to create the first ever space
										travel agency.
									</p>
									<hr class="d-none d-lg-block mb-0 mr-0">
								</div>
							</div>
						</div>
					</div>
				</div>

				<!-- Services -->
				<div class="row justify-content-center no-gutters mb-5 mb-lg-0">
					<div class="col-lg-6">
						<img class="img-fluid" src="{% static 'img/spacex-team.jpg' %}" alt="Services Img">
            </div>
						<div class="col-lg-6">
							<div class="bg-black text-center h-100 project">
								<div class="d-flex h-100">
									<div class="project-text w-100 my-auto text-center text-lg-left">
										<h4 class="text-white">Services</h4>
										<ul class="mb-0 text-white-50">
											<li>Public space trips and gravity-free flights</li>
											<li>Tailor-made scientific trips</li>
											<li>Aircraft and Spacecraft asset management</li>
											<li>Strategic and operational consulting</li>
											<li>Operational and airport services</li>
										</ul>
										<hr class="d-none d-lg-block mb-0 ml-0">
									</div>
								</div>
							</div>
						</div>
					</div>

					<!-- Button to trips -->
					<div class="text-center mt-5">
						<a href="{% url 'trips_destinations' %}" class="btn btn-primary">Browse Trips</a>
					</div>

				</div>
</section>

{% endblock %}