{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}

<!-- Header -->
<header class="about-head">
	<div class="container d-flex align-items-center">
		<div class="mx-auto text-center">
			<h1 class="text-light mx-auto my-0">Contact Us</h1>
		</div>
	</div>
</header>

<!-- Contact Section -->
<section class="bg-light">
	<div class="container pt-5 pb-5">
		<div class="row">

			<div class="col-12 col-lg-6">
				<!-- Contact Form -->
				<form id="contact-form" method="POST" onsubmit="return sendMail(this)">
					{% csrf_token %}

					<fieldset class="form-group">
						<p>Would you like to reach out to us? Please contact our teams using the below form.</p>
						<hr class="mb-3">
						{{ form|crispy }}
					</fieldset>

					<div class="form-group col-12 text-right">
						<button type="submit" class="btn btn-primary btn-subscribe">Send</button>
					</div>
				</form>
			</div>

            <div class="col-12 col-lg-6">
                <!-- Google Map -->
                <div id="map"></div>
            </div>

		</div>
	</div>
</section>

{% endblock %}