{% extends 'base.html' %}
{% load static %}

{% block header %}
<!-- Header -->
<header class="masthead">
	<div class="container d-flex h-100 align-items-center">
		<div class="mx-auto text-center">
			<h1 class="mx-auto my-0 text-uppercase">SpaceX</h1>
			<h2 class="text-white-50 mx-auto mt-2 mb-5">The first ever space travel agency.</h2>
			<a href="#about" class="btn btn-primary js-scroll-trigger">Discover</a>
		</div>
	</div>
</header>
{% endblock %}

{% block content %}

<!-- About Section -->
<section id="about" class="about-section text-center">
	<div class="container">
		<div class="row">
			<div class="col-lg-8 mx-auto">
				<h2 class="text-white mb-4">Book your first trip to Space</h2>
				<p class="text-white-50">SpaceX is the first travel agency that will fly you to space. This is not
					science fiction, this is technology and innovation meeting reality. In close collaboration with all
					major aerospace agencies in the world, we are able to coordinate various types of trips to space.
				</p>
			</div>
		</div>
		<img src="{% static 'img/nasa-eva.png' %}" class="img-fluid" alt="Nasa Astronaut">
    </div>
</section>

<!-- Trips Section -->
<section id="projects" class="projects-section bg-light">
	<div class="container">

		<!-- Trips for individuals -->
		<div class="row justify-content-center no-gutters mb-5 mb-lg-0">
			<div class="col-lg-6">
				<img class="img-fluid" src="{% static 'img/iss-nasa.jpg' %}" alt="Individuals">
            </div>
			<div class="col-lg-6">
				<div class="bg-black text-center h-100 project">
					<div class="d-flex h-100">
						<div class="project-text w-100 my-auto text-center text-lg-left">
							<h4 class="text-white">Trips for individuals</h4>
							<p class="mb-0 text-white-50">
                                We organize various trips several times a year to bring people and (not just
                                astronauts) to explore different parts of our solar system. Most of these trips
                                are operated from various bases such as the Kennedy Space Center in the US. If you want to
                                experience gravity-free environement without going to space, we also offer a
                                wide range of parabolic flights from various airports across the world.
							</p>
							<hr class="d-none d-lg-block mb-0 ml-0">
						</div>
					</div>
				</div>
			</div>
		</div>

		<!-- Trips for scientists -->
		<div class="row justify-content-center no-gutters">
			<div class="col-lg-6">
				<img class="img-fluid" src="{% static 'img/scientists.jpg' %}" alt="Scientists">
            </div>
			<div class="col-lg-6 order-lg-first">
				<div class="bg-black text-center h-100 project">
					<div class="d-flex h-100">
						<div class="project-text w-100 my-auto text-center text-lg-right">
							<h4 class="text-white">Trips for scientists</h4>
							<p class="mb-0 text-white-50">
                                We can organize tailor-made scientifc flights to assist you in your scientific research. 
                                Weightlessness is an incredibly innovative tool to enhance fundamental knowledge in various disciplines such as physics, medicine, biology...
                                We can assist you in your scientific experiences by setting up the logistic you need to be in a microgravity environement be it through parabolic flights or real space trips. These services can significantly contribute to the expansion of our knowledge in many scientific disciplines. 
							</p>
							<hr class="d-none d-lg-block mb-0 mr-0">
						</div>
					</div>
				</div>
			</div>
		</div>

	</div>
</section>

<!-- Stat Section -->
<section id="stat" class="stat-section bg-black">
	<div class="container">
		<div class="row">

            <div class="col-12 mt-5 mb-5 text-center">
                <h2 class="text-white mb-3">Spacex</h2>
                <hr class="mb-3">
                <p class="text-white-50">The first space travel operator in the world.</p>
            </div>

            <div class="row justify-content-center mx-auto mb-5">

                <div class="col-12 col-md-6 col-lg-2 text-center">
                    <i class="fas fa-users stat-icon"></i>
                    <p class="text-white mt-2">500 passengers</p>
                </div>

                <div class="col-12 col-md-6 col-lg-2 text-center">
                    <i class="fas fa-space-shuttle stat-icon"></i>
                    <p class="text-white mt-2">100 space trips</p>
                </div>

                <div class="col-12 col-md-6 col-lg-2 text-center">
                    <i class="fas fa-globe-americas stat-icon"></i>
                    <p class="text-white mt-2">1M selfies of earth</p>
                </div>

                <div class="col-12 col-md-6 col-lg-2 text-center">
                    <i class="fas fa-plane stat-icon"></i>
                    <p class="text-white mt-2">500 parabolic flights</p>
                </div>

                <div class="col-12 col-md-6 col-lg-2 text-center">
                    <i class="fas fa-flask stat-icon"></i>
                    <p class="text-white mt-2">300 scientific experiments</p>
                </div>

            </div>

		</div>
		
    </div>
</section>

<section id="testimony" class="testimony-section bg-light">
	<div class="container">
        <div class="row">

            <div class="col-12 mt-5 mb-5 text-center">
                <h2>Passengers testimonies</h2>
                <hr class="mb-0">
            </div>

            <div class="col-12 col-md-6">
                <div class="card text-white bg-black mb-3" style="max-width: 540px;">
                    <div class="row no-gutters">
                        <div class="col-md-4">
                            <img src="..." class="card-img" alt="...">
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <h5 class="card-title">Jane Doe</h5>
                                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                                <p class="card-text"><small class="text-muted">Trip completed on April 1st, 2019</small></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-12 col-md-6">
                <div class="card text-white bg-black mb-3" style="max-width: 540px;">
                    <div class="row no-gutters">
                        <div class="col-md-8">
                            <div class="card-body text-right">
                                <h5 class="card-title">John Doe</h5>
                                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                                <p class="card-text"><small class="text-muted">Trip completed on August 15th, 2019</small></p>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <img src="..." class="card-img" alt="...">
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-12 text-center mt-3 mb-5">
                <a href="#" class="btn btn-primary">View more</a>
            </div>

        </div>
    </div>
</div>

<!-- Book Section -->
<section id="book" class="book-section">
	<div class="container">
		<div class="row">
			<div class="col-md-10 col-lg-8 ml-auto text-right">
				<h2 class="text-white mb-5">Would you like to go to space?</h2>
				<p class="text-white-50">Discover our wide range of trips to space or gravity-flights.</p>
                <a href="{% url 'trips_categories' %}" type="button" class="btn btn-lg btn-outline-light border border-white">
                    <i class="fas fa-space-shuttle"></i> Book your next trips
                </a>
			</div>
		</div>
	</div>
</section>

{% endblock %}