{% extends 'base.html' %}
{% load static %}
{% load humanize %}
{% load crispy_forms_tags %}

{% block header %}

<!-- Header -->
<header class="trips-head">
	<div class="container d-flex align-items-center">
		<div class="mx-auto text-center">
			<h1 class="text-light mx-auto my-0">All trips</h1>
		</div>
	</div>
</header>

{% endblock %}

{% block content %}

<!-- Trips results cards -->
<section class="pt-5 pb-3 bg-light">
	<div class="container">
         
        <form id="select-trip-form" action="" method="POST">
            {% csrf_token %}

            <div class="form-row">
                <div class="form-group col-3 pr-2">
                    <label for="id_trip_category" class=" requiredField">
                        Destination<span class="asteriskField">*</span>
                    </label>
                    <select name="trip_category" class="select form-control" required="" id="id_trip_category">
                        <option value="" selected="">Choose destination</option>
                        {% for category in trip_categories %}
                            <option value="{{ category.id }}">{{ category.destination }}</option>
                        {% endfor %}
                    </select>    
                </div>
                <div class="form-group col-3 pr-2">
                    {{ form.departure_site.errors }}
                    {{ form.departure_site|as_crispy_field }}
                </div>
                <div class="form-group col-3 pr-2">
                    {{ form.departure_date.errors }}
                    {{ form.departure_date|as_crispy_field  }}
                </div>
                <div class="form-group col-3 pr-2">
                    {{ form.passenger_number.errors }}
                    {{ form.passenger_number|as_crispy_field }}
                </div>
            </div>

            <div class="form-group text-right">
                <button type="submit" class="btn btn-primary btn-subscribe">Search</button>
            </div>
            
        </form>

		<div class="row mx-auto">
            {% for trip in trips %}
			<div class="col-12 col-lg-9 mx-auto mb-5">
				<div class="card">

					<div class="card-header text-uppercase">
						Round Trip Ticket
					</div>

					<div class="card-body">
                        <div class="row">

                            <div class="col-12 col-md-8 mb-3">
                                <ul class="timeline">
                                    <li>
                                        <p class="card-text">{{ trip.departure_site }} ({{ trip.departure_site.site_code }})</p>
                                        <p class="card-text">
                                            <i class="fas fa-space-shuttle"></i> Departs<br>
                                            {{ trip.departure_date }} - {{ trip.departure_time|time:"H:i A" }}
                                        </p>
                                    </li>
                                    <li>
                                        <p class="card-text">{{ trip.category.destination }} ({{ trip.category.destination_code }})</p>
                                        <p class="card-text">
                                            <i class="fas fa-space-shuttle"></i> Returns<br>
                                            {{ trip.return_date }} - {{ trip.departure_time|time:"H:i A" }}
                                        </p>
                                    </li>
                                </ul>
                                <div class="mt-5 col-12 text-left">
                                    <img class="spacex-book pb-2" src="{% static 'img/logo-oper.png' %}" alt="SpaceX Logo"> {{ trip.trip_reference }}
                                </div>
                            </div>
                                
                            <div class="col-12 col-md-4 text-left text-md-right mt-3 mb-3 pl-5 pl-md-0 pr-0 pr-md-5">
                                <img class="trip-img-thumbnail img-display mb-3" src="{{ trip.category.img.all.0.img_file.url }}" alt="{{ trip.category.img.all.0.img_name }}">
                                <p class="card-text">
                                    <i class="fas fa-user-friends"></i> {{ trip.slot }} slot(s) <br>
                                    <b>Price</b> € {{ trip.category.price|intcomma }}
                                </p>
                                <form method="POST">
                                    {% csrf_token %}
                                    <input id="passenger" name="passenger" type="hidden" value="{{ passenger_number }}">
                                    <button type="button" class="btn btn-primary btn-cart" id="add_{{trip.id}}"  data-toggle="modal" data-target="#exampleModalCenter">Book trip</button>
                                </form>

                                <!-- Modal -->
                                <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                                <div class="modal-dialog modal-dialog-centered" role="document">
                                    <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLongTitle">Your trip was added to the cart!</h5>
                                    </div>
                                    <div class="modal-body">
                                        Would you like to proceed to checkout?
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" id="btn-keep-shopping" data-dismiss="modal">Keep shopping</button>
                                        <a href="{% url 'checkout_confirm' %}"><button type="button" class="btn btn-primary">Checkout</button></a>
                                    </div>
                                    </div>
                                </div>
                                </div>

                            </div>
                            	
                        </div>
					</div>

				</div>
			</div>
            {% endfor %}
		</div>

	</div>
</section>

{% endblock %}

{% block script %}

<!-- CSRF token -->
<script type="text/javascript">
    const csrfToken = '{{ csrf_token }}';
</script>

{% endblock %}