{% extends 'base.html' %}
{% load static %}
{% load humanize %}
{% load crispy_forms_tags %}

{% block header %}

<!-- Header -->
<header class="trips-head">
	<div class="container d-flex align-items-center">
		<div class="mx-auto text-center">
            <h1 class="text-light mx-auto my-0"><i class="fas fa-space-shuttle"></i></h1>
        </div>
	</div>
</header>

{% endblock %}

{% block content %}

<!-- Breadcrumb -->
<nav aria-label="breadcrumb">
  <ol class="breadcrumb bg-light mb-0">
    <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
    <li class="breadcrumb-item">Trips</li>
    <li class="breadcrumb-item"><a href="{% url 'trips_destinations' %}">Destinations</a></li>
    <li class="breadcrumb-item"><a href="#">{{ trip_category.destination }}</a></li>
  </ol>
</nav>

<!-- Trip detail section -->
<section class="mt-5 mb-5">
	<div class="container">

		<div class="row">

			<div class="col-12 text-center mt-5 mb-5">
				<h1 class="trip-header text-uppercase">{{ trip_category.title }}</h1>
			</div>

			<!-- Big image -->
			<div class="col-12 col-lg-7 mx-auto">
				<img class="img-fluid img-box" src="{{ trip_category.img.all.0.img_file.url }}" alt="{{ trip_category.img.all.0.img_name }}">
            </div>

			<!-- Small images -->
			<div class="col-12 col-lg-2 mx-auto">
				{% for trip_image in trip_category.img.all %}
					<img class="trip-img-thumbnail mb-3 mt-3 mr-3 mt-lg-0 mr-lg-0" src="{{ trip_image.img_file.url }}" alt="{{ trip_image.img_name }}">
                {% endfor %}
            </div>

            <!-- Trip details -->
            <div class="col-12 col-lg-3 jumbotron jumbotron-trip mx-auto">
                <div class="row">

                    <div class="col-12 col-md-6 col-lg-12 text-center text-lg-left">
                        <h2>{{ trip_category.destination }}</h2>
                        <p>
                            <i class="far fa-clock"></i> {{ trip_category.duration }} Day<br>
                            {{ trip_category.distance|intcomma }} Km<br>
                            € {{ trip_category.price|intcomma }}<br>
                        </p>
                    </div>

                    <div class="col-10 col-sm-8 col-md-6 col-lg-12 mx-auto">

                        <form id="select-trip-form" action="{% url 'trips_results' trip_category.id %}" method="POST">
                            {% csrf_token %}

                            {{ form|crispy }}
                            
                            <div class="form-group text-right">
                                <button type="submit" class="btn btn-primary btn-subscribe">Search</button>
                            </div>

                        </form>
                    
                    </div>
                
                </div>
            </div>

				</div>

				<!-- Trip description -->
				<div class="row">
					<div class="col-12 jumbotron p-5">
						<h2>Trip description</h2>
						<p>{{ trip_category.description }}</p>
					</div>
				</div>

				<!-- Requirements -->
				<div class="row">
					<div class="col-12 jumbotron p-5">
						<h2>General terms and conditions</h2>
						<p>
                            SpaceX shall have the right to change the schedule if it is deemed necessary by circumstances beyond their complete control.<br>
                            A trip ticket is not transferable. The Operator reserves the right to perform an ID check of the registered passengers.<br>
                            Bookings are confirmed once the booking reference number has been sent by email along with the booking details.<br>
                            All prices are inclusive of taxes, including VAT.<br>
                            Bank cards must be used for online payments. Cards are debited in real time by SpaceX and online payments are secured by data encryption.
                        </p>
					</div>
				</div>

				<!-- Safety -->
				<div class="row">
					<div class="col-12 jumbotron p-5">
						<h2>Safety</h2>
						<p>
                            You will have to stay seated with your seatbelt fastened during takeoff and landing of the spacecraft.<br>
                            During the entire trip you will have to carefully listen to the cockpit announcements alerting you of crucial information (gravity-free phase, hypergravity phase, landing, turbulences...).<br>
                            You will have to obey by all the safety instructions you are given by the captain and the flight safety officers on board.<br>
                            Before your trip, you will be required to participate in a training (from 1 to 5 days according to the destination) to get you prepared for all the safety procedures.
                        </p>
					</div>
				</div>

			</div>
</section>

{% endblock %}