{% extends 'base.html' %}
{% load static %}
{% load humanize %}
{% load crispy_forms_tags %}

{% block header %}

<!-- Header -->
<header class="trips-head">
	<div class="container d-flex align-items-center">
		<div class="mx-auto text-center">
			<h1 class="text-light mx-auto my-0">Checkout 2</h1>
		</div>
	</div>
</header>

{% endblock %}

{% block content %}

<!-- Register passenger section -->
<section class="bg-light">
	<div class="container pt-5 pb-5">
		<div class="row">

			{% for item in cart_items %}
			<div class="col-12 col-md-10 mx-auto jumbotron">

				<!-- Trip recap -->
				<div class="col-12 mb-2 text-left">
					<h3 class="mb-2">Trip to the {{ item.trip.category.destination }} </h3>
					<p> {{ item.trip.departure_date }} to {{ item.trip.return_date }} <br>
                        From {{ item.trip.departure_site }}
                        </p>
				</div>

				<!-- Passengers -->
				{% for i in item.passenger_range %}
				<div class="col-12">
					<div class="card collapse-container">

						<div class="card-header header text-uppercase text-left">
							<b><i class="fas fa-user"></i> Passenger {{ forloop.counter }}</b> Adult
						</div>

						<div class="card-body content">
							<div class="row">

								<div class="col-12">
									<p>Who is traveling?</p>
								</div>

								<div class="col-12">
									<select id="traveling-passenger" name="traveling-passenger" class="passenger-traveling-select">
                                                <option value="1" selected>{{ user.first_name }} {{ user.last_name }}</option>
                                                <option value="2">I am booking for another passenger</option>
                                    </select>
								</div>

								<div class="mt-5 col-12" class="user-passenger-form" value="1">
									<!-- Passenger details form -->
									{% include 'components/user_passenger_form.html' %}
								</div>

							</div>
						</div>

					</div>
				</div>
				{% endfor %}

			</div>
			{% endfor %}

		</div>
	</div>
</section>

{% endblock %}

{% block script %}

<script>
	/*
        Hide and show collapsable content for passenger form
    */
    $(".header").click(function () {

        $header = $(this);
        $content = $header.next();

        // Display content element for passenger form
        $content.slideToggle(500, function () {
            return $content.is(":visible");
        });

    });

    /*
        Display passenger form according to user selection
    */
    $(".passenger-traveling-select").change(function(){
        if( $(this).val() == "1" ) {
            $(this).parent().siblings(".user-passenger-form").show();
        } else {
            $(this).parent().siblings(".user-passenger-form").hide();
        }
    });
</script>

{% endblock %}