{% extends 'base.html' %}
{% load static %}
{% load humanize %}
{% load crispy_forms_tags %}

{% block header %}

<!-- Header -->
<header class="trips-head">
	<div class="container d-flex align-items-center">
		<div class="mx-auto text-center text-white">
            <!-- Progress tracker -->
            {% include 'components/progress_tracker.html' %}
		</div>
	</div>
</header>

{% endblock %}

{% block content %}

<!-- Booker section -->
<section class="bg-light">
	<div class="container pt-5 pb-5">
		<div class="row mx-auto">
            
            <!-- Booker details -->
            <div class="col-12 col-md-10 col-lg-6">

                <h1 class="mt-3 mb-5">Contact details</h1>

                <!-- Contact form -->
                <h3>{{ user.first_name }} {{ user.last_name }}</h3>

                <form class="mt-3" id="contact-detail-form" method="POST">
                    {% csrf_token %}

                    <fieldset>
                    {{ form|crispy}}
                    </fieldset>

                </form>

            </div>
            
            <!-- Booking recap -->
            <div class="col-12 col-md-10 col-lg-6 mt-3 mt-lg-0">
                
                <h1 class="mt-3 mb-5">Your booking</h1>

                {% if cart_items %}

                    {% for item in cart_items %}

                        <!-- Trip recap -->
                        {% include 'components/trip_recap.html' %}

                    {% endfor %}

                        <div class="mt-5 mb-3"><hr></div>

                        <!-- Total cart -->
                        <div class="mt-5 mb-2 text-right">
                            <h3>TOTAL: € {{ total|intcomma }}</h3>
                            <p>Tax included</p>
                        </div>

                        <div class="row mt-5 mb-3">
                            <div class="col-6 text-left">
                                <a href="{% url 'view_cart' %}" class="btn btn-light"><i class="fas fa-caret-left"></i> Return to cart</a>
                            </div>
                            <div class="col-6 text-right">
                            <button id="btn-confirm-details" type="button" class="btn btn-primary">Go to passengers <i class="fas fa-caret-right"></i></button>
                            </div>
                        </div>

                {% endif %}
                
            </div>

		</div>
	</div>
</section>

{% endblock %}

{% block script %}
<script>
    $("#btn-confirm-details").click(function() {
        $("#contact-detail-form").submit();
    }); 
</script>
{% endblock %}
