{% extends 'base.html' %}
{% load static %}
{% load humanize %}
{% load crispy_forms_tags %}

{% block header %}

<!-- Header -->
<header class="trips-head">
	<div class="container d-flex align-items-center">
		<div class="mx-auto text-center">
			<h1 class="text-light mx-auto my-0"><i class="fas fa-rocket"></i> </h1>
		</div>
	</div>
</header>

{% endblock %}

{% block content %}

<!-- Confirmation section -->
<section class="bg-light">
	<div class="container pt-5 pb-5">
		<div class="row">

            <!-- Confirmation text -->
            <div class="col-12 col-md-10 col-lg-8 mx-auto text-center mt-5 mb-5">
                <h1 class="mt-3 mb-5">Your trip is confirmed!</h1>
                <p>We deeply thank your for trusting SpaceX and booking this trip with us. <br>
                Our team will shortly get in touch with you regarding the preparation of your trip.</p>
                <p>You can now access your upcoming trip(s) by checking the booking section in your profile.</p>
                <a href="{% url 'trips_all' %}" class="btn btn-primary mt-5">Browse Trips</a>
            </div>

		</div>
	</div>
</section>

{% endblock %}
