{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block header %}
<!-- Header -->
<header class="accounts-head">
	<div class="container d-flex align-items-center"></div>
</header>
{% endblock %}

{% block content %}

<!-- Profile Section -->
<section class="pt-5 pb-5">
	<div class="container">
		<div class="row mx-auto align-items-center">

			<div class="mx-auto text-center">
				<h2 class="text-center">{{ user.first_name }} {{ user.last_name }}</h2>
			</div>

			<div class="col-12">

				<!-- Tabs title -->
				<nav>
					<div class="nav nav-tabs" id="nav-tab" role="tablist">
						<a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-home"
							role="tab" aria-controls="nav-home" aria-selected="true">Account</a>
						<a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-profile"
							role="tab" aria-controls="nav-profile" aria-selected="false">Booking(s)</a>
						<a class="nav-item nav-link" id="nav-contact-tab" data-toggle="tab" href="#nav-contact"
							role="tab" aria-controls="nav-contact" aria-selected="false">Passenger(s)</a>
					</div>
				</nav>

				<!-- Tabs content -->
				<div class="tab-content" id="nav-tabContent">

					<!-- Account -->
					<div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
						<div class="col-12 col-lg-8 mx-auto">

                            <!-- Passenger details -->
                            <div class="card mt-5">
                                <div class="card-body">
                                    <div class="d-flex flex-row-reverse bd-highlight">
                                        {% if passenger %}
                                            <a href="{% url 'edit_passenger_details' %}">Edit</a>
                                        {% else %}
                                            <a href="{% url 'create_passenger_details' %}">Update</a>
                                        {% endif %}
                                    </div>
                                    <h4 class="font-weight-bold">Passenger</h4>
                                    <div class="row">
                                        <div class="col-4 text-left">
                                            <p>
                                                Full name<br>
                                                {% if passenger %}
                                                    Date of birth<br>
                                                    Passport
                                                {% else %}
                                                {% endif %}
                                            </p>
                                        </div>
                                        <div class="col-8 text-right">
                                            <p>
                                                {{ user.first_name }} {{ user.last_name }}<br>
                                                {% if passenger %}
                                                    {{ passenger.birth_date }}<br>
                                                    {{ passenger.passport_id }}<br>
                                                {% else %}
                                                {% endif %}
                                            </p>
                                        </div>
                                        {% if passenger %}
                                        {% else %}
                                            <div class="card-body text-center"> You have not provided your passenger details yet!</div>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>

                            <!-- Contact details -->
                            <div class="card mt-5">
                                <div class="card-body">
                                    <div class="d-flex flex-row-reverse bd-highlight">
                                        {% if contact %}
                                            <a href="{% url 'edit_contact_details' %}">Edit</a>
                                        {% else %}
                                            <a href="{% url 'create_contact_details' %}">Update</a>
                                        {% endif %}
                                    </div>
                                    <h4 class="font-weight-bold">Contact</h4>
                                    {% if contact %}
                                        <div class="row">
                                            <div class="col-4 text-left">
                                                <p>Email<br>Phone number<br><br>Address</p>
                                            </div>
                                            <div class="col-8 text-right">
                                                <p> {{ user.email }}<br>
                                                    {{ contact.phone_number }}<br><br>
                                                    {{ contact.street_address1 }} <br>
                                                    {{ contact.postcode }} {{ contact.town_or_city}} <br>
                                                    {{ contact.state }} <br>
                                                    {{ contact.country }} <br>
                                                </p>
                                            </div>
                                        </div>
                                    {% else %}
                                        <div class="card-body text-center"> You have not provided your details yet!</div>
                                    {% endif %}
                                </div>
                            </div>

                            <!-- Login -->
							<div class="card mt-5">
								<div class="card-body">
									<div class="d-flex flex-row-reverse bd-highlight"><a href="{% url 'edit_password' %}">Edit</a></div>
									<h4 class="font-weight-bold">Login</h4>
									<div class="row">
										<div class="col-4 text-left">
											<p>Password</p>
										</div>
									</div>
								</div>
							</div>

						</div>
					</div>

					<!-- Bookings -->
					<div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
						Trips booked by the user
					</div>

					<!-- Documents -->
					<div class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab">
                        Additional documents to be provided by the user
					</div>

				</div>

			</div>

		</div>
	</div>
</section>

{% endblock %}