{% extends 'base.html' %}
{% load static %}
{% load humanize %}
{% load crispy_forms_tags %}

{% block header %}

<!-- Header -->
<header class="trips-head">
	<div class="container d-flex align-items-center">
		<div class="mx-auto text-center">
			<h1 class="text-light mx-auto my-0"><i class="fas fa-luggage-cart"></i></h1>
		</div>
	</div>
</header>

{% endblock %}

{% block content %}

<!-- Cart section -->
<section class="mt-5 mb-5">
	<div class="container">
		<div class="row">

            {% if cart_items %}

                <div class="col-12 col-md-10 col-lg-8 jumbotron mx-auto">

                    {% for item in cart_items %}
                        <div class="mb-5">
                    
                            <!-- Trip recap -->
                            <div class="col-12 mb-2">
                                <div class="row text-left text-md-right">
                                    <div class="col-12 col-md-8">
                                        <form class="remove-cart-form" method="POST" tripid="trip_{{ item.id }}">
                                            {% csrf_token %}
                                            <button class="remove-item btn btn-light float-left" type="submit"><i class="fas fa-trash-alt fa-2x"></i></button>
                                        </form>
                                        <h1 class="mb-4">Trip to the {{ item.trip.category.destination }} </h1>
                                        From {{ item.trip.departure_date }} to {{ item.trip.return_date }} <br>
                                        <img class="spacex-book pb-2 text-right" src="{% static 'img/logo-oper.png' %}" alt="SpaceX Logo"> {{ item.trip.trip_reference }}
                                    </div> 

                                    <div class="col-12 col-md-4 d-none d-md-block">
                                        <img class="trip-img-thumbnail mb-3" src="{{ item.trip.category.img.all.0.img_file.url }}" alt="Moon Image">
                                    </div>

                                </div>
                            </div>

                            <!-- Trip detail -->   
                            <div class="col-12">
                                <div class="card">

                                    <div class="card-header text-uppercase text-left text-md-center">Round Trip Ticket</div>

                                    <div class="card-body">
                                        <div class="row">

                                            <div class="col-12 col-md-5 text-left">
                                                <h3>{{ item.trip.departure_site.site_code }}</h3>
                                                <p>
                                                {{ item.trip.departure_site }} <br>
                                                {{ item.trip.departure_date }} <br>
                                                {{ item.trip.departure_time|time:"H:i A" }} <br>
                                                </p>
                                            </div>

                                            <div class="col-12 col-md-2 text-left text-md-center mt-2 mb-4 mt-md-0 mb-md-0">
                                                <i class="fas fa-space-shuttle"></i>
                                            </div>
                                                
                                            <div class="col-12 col-md-5 text-left text-md-right">

                                                <h3>{{ item.trip.category.destination_code }}</h3>
                                                <p>
                                                {{ item.trip.category.destination }}  <br>
                                                {{ item.trip.return_date }} <br>
                                                {{ item.trip.return_time|time:"H:i A" }} <br> 
                                                </p>
                                                
                                            </div>

                                        </div>
                                    </div>

                                </div>
                            </div>

                            <!-- Trip price & passenger -->
                            <div class="col-12 mt-3 text-left text-md-right">
                                <form  class="form-inline mt-3 mb-3 justify-content-md-end" method="POST" action="{% url 'adjust_cart' item.id %}">
                                {% csrf_token %}
                                    <div class="form-group">
                                        <label class="mr-2" for="passenger"><i class="fas fa-user-friends"></i> Passenger(s)</label>
                                        <input id="passenger" name="passenger" class="mr-2 text-center passengerAdjust" type="number" min="1" max="{{ item.trip.slot }}" class="form-control" value="{{ item.passenger }}">
                                        <input class="tripPrice" id="remove_{{ item.id }}" value="{{ item.trip.category.price }}" type="hidden">
                                    </div>
                                </form>
                                <div class="d-inline-flex">
                                    <h4 class="mr-2">€</h4>
                                    <h4 class="totalPrice">{{ item.sub_total|intcomma }}</h4>
                                </div>   
                            </div>

                        </div>
                    {% endfor %}

                    <div class="col-12 mt-5 mb-3">
                        <hr>
                    </div>
                    
                    <!-- Total cart & checkout -->
                    <div class="col-12 mt-5 text-left text-md-right">
                        <div class="d-inline-flex">
                            <h2 class="mr-2">TOTAL: €</h2>
                            <h2 id="totalCartPrice">{{ total|intcomma }}</h2>
                        </div>
                        <p>Tax included</p>
                        <a href="{% url 'checkout_confirm' %}" class="btn btn-primary">Checkout</a>
                    </div>
        
                </div>

            {% else %}

                <div class="col-12 col-md-10 col-lg-8 mx-auto text-center mt-5 mb-5">
                    <h4>Your cart is currently empty, search for your next trip now!</h4>
                    <a href="{% url 'trips_categories' %}" class="btn btn-primary mt-5">Browse Trips</a>
                </div>
                							
            {% endif %}

		</div>
	</div>
</section>

{% endblock %}

{% block script %}

<!-- CSRF token -->
<script type="text/javascript">
    const csrfToken = '{{ csrf_token }}';
</script>

{% endblock %}