{% extends 'base.html' %}
{% load static %}
{% load humanize %}
{% load crispy_forms_tags %}

{% block header %}

<!-- Header -->
<header class="trips-head">
	<div class="container d-flex align-items-center">
		<div class="mx-auto text-center">
			<h1 class="text-light mx-auto my-0"><i class="fas fa-luggage-cart"></i></h1>
		</div>
	</div>
</header>

{% endblock %}

{% block content %}

<!-- Cart section -->
<section class="mt-5 mb-5">
	<div class="container">
		<div class="row">

            {% if cart_items %}

                <div class="col-12 col-md-10 col-lg-8 jumbotron mx-auto">

                    {% for item in cart_items %}
                        <div class="mb-5 cartItemAdjust">
                    
                            <!-- Trip recap -->
                            <div class="col-12 mb-2">
                                <div class="row text-left text-md-right">
                                    <div class="col-12 col-md-8">
                                        <form class="remove-cart-form" method="POST" tripid="trip_{{ item.id }}">
                                            {% csrf_token %}
                                            <button class="remove-item btn btn-light float-left" type="submit"><i class="fas fa-trash-alt fa-2x"></i></button>
                                        </form>
                                        <h2 class="mb-4">Trip to the {{ item.trip.category.destination }} </h2>
                                        From {{ item.trip.departure_date }} to {{ item.trip.return_date }} <br>
                                        <img class="spacex-book pb-2 text-right" src="{% static 'img/logo-oper.png' %}" alt="SpaceX Logo"> {{ item.trip.trip_reference }}
                                    </div> 

                                    <div class="col-12 col-md-4 d-none d-md-block">
                                        <img class="trip-img-thumbnail mb-3" src="{{ item.trip.category.img.all.0.img_file.url }}" alt="Moon Image">
                                    </div>

                                </div>
                            </div>

                            <!-- Trip detail -->   
                            <div class="col-12">
                                <div class="card">

                                    <div class="card-header text-uppercase text-left text-md-center">Round Trip Ticket</div>

                                    <div class="card-body">
                                        <div class="row">

                                            <div class="col-12 col-md-5 text-left">
                                                <h3>{{ item.trip.departure_site.site_code }}</h3>
                                                <p>
                                                {{ item.trip.departure_site }} <br>
                                                {{ item.trip.departure_date }} <br>
                                                {{ item.trip.departure_time|time:"H:i A" }} <br>
                                                </p>
                                            </div>

                                            <div class="col-12 col-md-2 text-left text-md-center mt-2 mb-4 mt-md-0 mb-md-0">
                                                <i class="fas fa-space-shuttle"></i>
                                            </div>
                                                
                                            <div class="col-12 col-md-5 text-left text-md-right">

                                                <h3>{{ item.trip.category.destination_code }}</h3>
                                                <p>
                                                {{ item.trip.category.destination }}  <br>
                                                {{ item.trip.return_date }} <br>
                                                {{ item.trip.return_time|time:"H:i A" }} <br> 
                                                </p>
                                                
                                            </div>

                                        </div>
                                    </div>

                                </div>
                            </div>

                            <!-- Trip price & passenger -->
                            <div class="col-12 mt-3 text-left text-md-right">

                                <form class="mt-3 mb-3 justify-content-md-end passenger-adjust-form" method="POST" tripid="trip_{{ item.id }}">
                                {% csrf_token %}

                                    <div class="input-group text-left text-md-right mb-3">
                                        <i class="fas fa-user-friends pt-1 mr-2"></i>
                                        <input type="button" value="-" class="button-minus" data-field="passenger">
                                        <input id="passenger" name="passenger" class="quantity-field pl-3 text-center" type="number" step="1" min="1" max="{{ item.trip.slot }}" value="{{ item.passenger }}" required readonly>
                                        <input type="button" value="+" class="button-plus" data-field="passenger">
                                    </div>

                                    <button type="submit" class="btn btn-primary btn-cart">Adjust passengers</button>

                                </form>

                                <input class="tripPrice" value="{{ item.trip.category.price }}" type="hidden">

                                <div class="d-inline-flex">
                                    <h4 class="mr-2">€</h4>
                                    <h4 class="totalPrice">{{ item.sub_total|intcomma }}</h4>
                                </div>   
                            </div>

                        </div>
                        <div class="col-12 mt-5 mb-5">
                            <hr>
                        </div>
                    {% endfor %}

                    <!-- Total cart & checkout -->
                    <div class="col-12 mt-5 text-left text-md-right">
                        <div class="d-inline-flex">
                            <h2 class="mr-2">TOTAL: €</h2>
                            <h2 id="totalCartPrice">{{ total|intcomma }}</h2>
                        </div>
                        <p>Tax included</p>
                        <a href="{% url 'checkout_contact' %}" class="btn btn-primary">Checkout</a>
                    </div>
        
                </div>

            {% else %}

                <div class="col-12 col-md-10 col-lg-8 mx-auto text-center mt-5 mb-5">
                    <h4>Your cart is currently empty, search for your next trip now!</h4>
                    <a href="{% url 'trips_all' %}" class="btn btn-primary mt-5">Browse Trips</a>
                </div>
                							
            {% endif %}

		</div>
	</div>
</section>

{% endblock %}

{% block script %}

<script type="text/javascript">

    // CSRF token
    const csrfToken = '{{ csrf_token }}';

    /*
        Remove item from cart after user confirmed his choice
    */
    $(".remove-cart-form").submit(function (e) {

        e.preventDefault();

        swal({
            title: "Are you sure?",
            text: "This trip will be removed from your cart.",
            icon: "warning",
            buttons: {
                cancel: "Cancel",
                catch: {
                    text: "Delete",
                    value: "delete"
                },
            },
        })
            .then((value) => {
                switch (value) {
                    case "delete":
                        swal("This trip was removed from your cart!", {
                            icon: "success"
                        })
                            // Sent form to delete item from cart
                            .then((value) => {
                                var itemId = $(this).attr("tripid").split("trip_")[1];
                                $.ajax({
                                    type: "POST",
                                    url: `/cart/remove/${itemId}/`,
                                    data: $(this).serialize(),
                                    success: function () {
                                        location.reload();
                                    }
                                });
                            });
                        break;
                    default:
                        swal("The trip is still in your cart!");
                }
            });
    });

    /*
        Update cart information according to changes in passenger number
    */
    $(".passenger-adjust-form").submit(function (e) {

        e.preventDefault();

        var inputPassenger = parseInt($(this).find("input#passenger").val());
        var tripPrice = parseInt($(this).siblings(".tripPrice").val());

        // Update total price for the corresponding cart item
        var totalTripPrice = (inputPassenger * tripPrice).toLocaleString();
        $(this).siblings(".d-inline-flex").children(".totalPrice").text(totalTripPrice);

        // Update amount for the total cart
        var sum = 0;
        $(".totalPrice").each(function () {
            sum += parseFloat($(this).text().replace(/,/g, ''));
        });
        $("#totalCartPrice").text(sum.toLocaleString());

        // Update number of cart item in the navbar
        var cartItem = 0;
        $(".cartItemAdjust").each(function () {
            cartItem += 1;
        });
        if (cartItem > 0) {
            $("#cart-label").text(cartItem);
        }

        // Update cart content without reloading the page
        var itemId = $(this).attr("tripid").split("trip_")[1];
        var url = `/cart/adjust/${itemId}/`;
        var data = { 'csrfmiddlewaretoken': csrfToken, 'passenger': inputPassenger };
        $.post(url, data);

        swal({
            title: "Cart updated!",
            text: "We have adjusted the number of passengers for this trip.",
            icon: "success",
            button: "ok",
        });

    });

</script>

{% endblock %}