{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>

    {% block meta %}
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="">
        <meta name="author" content="">
    {% endblock %}

	{% if page_title %}
	    <title>SpaceX · {{ page_title }}</title>
	{% else %}
	    <title>SpaceX</title>
	{% endif %}

    {% block css %}
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
            integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css"
            integrity="sha256-+N4/V/SbAFiW1MPBCXnfnP9QSN3+Keu+NlB+0ev/YKQ=" crossorigin="anonymous" />
        <link href="https://fonts.googleapis.com/css?family=Varela+Round" rel="stylesheet">
        <link
            href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
            rel="stylesheet">
        <link href="https://unpkg.com/gijgo@1.9.13/css/gijgo.min.css" rel="stylesheet" type="text/css">
        <link href="{% static 'lib_grayscale/css/grayscale.css' %}" rel="stylesheet">
        <link href="{% static 'css/custom.css' %}" rel="stylesheet">
    {% endblock %}

    {% block cdn %}
	{% endblock %}

    {% block js %}
        <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
            integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous">
        </script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
            integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous">
        </script>
        <script src="https://unpkg.com/gijgo@1.9.13/js/gijgo.min.js"></script>
        <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    {% endblock %}

</head>

<body class="bg-light" id="page-top">

    {% if checkout_pg %}
        <!-- Do not display navbar for checkout -->
    {% else %}
        <!-- Navbar -->
        {% include 'components/nav.html' %}
    {% endif %}

	{% block header %}
	{% endblock %}

	<!-- Flash messages -->
	{% if messages %}
        {% for message in messages %}
        <div class="alert alert-{{ message.tags }} text-center mb-0" role="alert">
            {{ message }}
        </div>
        {% endfor %}
	{% endif %}

	{% block content %}
	{% endblock %}

    <!-- Footer -->
    {% include 'components/footer.html' %}

    {% block script %}
	{% endblock %}

    {% block postloadjs %}
        {% if checkout_pg %}
            <!-- Do not load grayscale script -->
        {% else %}
            <script src="{% static 'lib_grayscale/js/grayscale.js' %}"></script>
        {% endif %}
        <script src="{% static 'js/main.js' %}"></script>
    {% endblock %}

</body>

</html>