{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block header %}
<!-- Header -->
<header class="trips-head">
	<div class="container d-flex align-items-center">
		<div class="mx-auto text-center">
			<h1 class="text-light mx-auto my-0"></h1>
		</div>
	</div>
</header>
{% endblock %}

{% block content %}

<!-- Login Section -->
<section> 

	<div class="container pt-5 pb-5">
		<div class="row">

            <div class="col-12 col-lg-8 mx-auto">
            
                <!-- Login Form -->
                <form method="POST">
                    {% csrf_token %}

                    <fieldset class="form-group col-12">
                        <legend class="border-bottom mb-4">Reset Password</legend>
                        {{ form|crispy }}
                    </fieldset>

                    <div class="form-group col-12 text-right">
                        <button class="btn btn-primary" type="submit">Reset Password</button>
                    </div>
                    
                </form>

            </div>

		</div>
	</div>

</section>

{% endblock %}