{% extends 'base.html' %}

{% block header %}
<!-- Header -->
<header class="trips-head">
	<div class="container d-flex align-items-center">
		<div class="mx-auto text-center">
			<h1 class="text-light mx-auto my-0"></h1>
		</div>
	</div>
</header>
{% endblock %}

{% block content %}

<section>
	<div class="container pt-5 pb-5">
		<div class="row">

			<div class="alert alert-success mx-auto" role="alert">
				An email has been sent with instructions to reset your password. 
			</div>

		</div>
	</div>
</section>

{% endblock %}